# If any of these libraries are not up-to-date, that's fine.
# We're sticking to our open edX packages versions.

-e git+https://github.com/python-social-auth/social-app-django.git@c00d23c2b45c3317bd35b15ad1b959338689cef8#egg=social-auth-app-django
factory-boy==2.12.0
flake8==3.9.2
pre-commit==1.21.0
pytest-django==4.4.0
python-jose==3.3.0
social-auth-app-django==3.1.0
tox==3.23.1
