# If any of these libraries are not up-to-date, that's fine.
# We're sticking to our open edX packages versions.

# Open edX requirements: Juniper
social-auth-app-django==3.3.0 ; python_version <= "3.5"
python-jose==3.2.0 ; python_version <= "3.5"

# Open edX requirements: Koa
social-auth-app-django==4.0.0 ; python_version >= "3.8"
python-jose==3.3.0 ; python_version >= "3.8"

# Test requirements
httpretty
pytest-django
unittest2
ddt
